# Retail sales

In this notebook we will prepare and store the retail sales dataset found [here](https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv).

**Description of data:**

The timeseries is collected between January 1992 and May 2016. It consists of a single series of monthly values representing sales volumes.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from statsmodels.tsa.seasonal import STL

# Get the dataset

The dataset can be obtained from this [link](https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv). It will open a raw file in GitHub. A simple way of obtaining the data is to copy and paste the values from your browser into a text editor of your choice. 
Save it in the Datasets directory, which is found at the root of this project, with the filename `example_retail_sales.csv`. 

Alternatively, download it using Pandas by running:

In [2]:
url = "https://raw.githubusercontent.com/facebook/prophet/master/examples/example_retail_sales.csv"
df = pd.read_csv(url)
df.to_csv("../Datasets/example_retail_sales.csv", index=False)

Now follow the rest of the notebook.

In [3]:
df = pd.read_csv(
    "../Datasets/example_retail_sales.csv",
    parse_dates=["ds"],
    index_col=["ds"],
    nrows=160,
)

In [11]:
df

                 y
ds
1992-01-01  146376
1992-02-01  147079
1992-03-01  159336
1992-04-01  163669
1992-05-01  170068
...            ...
2004-12-01  387155
2005-01-01  293261
2005-02-01  295062
2005-03-01  339141
2005-04-01  335632

[160 rows x 1 columns]

# Create dataset with missing data

In [5]:
# copy dataframe
df_with_missing_data = df.copy()

# Insert missing data into dataframe
df_with_missing_data.iloc[10:11] = np.NaN
df_with_missing_data.iloc[25:28] = np.NaN
df_with_missing_data.iloc[40:45] = np.NaN
df_with_missing_data.iloc[70:94] = np.NaN

In [6]:
# Save dataset in Datasets directory
df_with_missing_data.to_csv("../Datasets/example_retail_sales_with_missing_data.csv")

# Create dataset with outliers

In [7]:
df_with_outliers = df.copy()

In [8]:
# Insert outliers into dataframe
outlier_idx = [20, 33, 66, 150]
df_with_outliers.iloc[outlier_idx] = df_with_outliers.iloc[outlier_idx] * 1.7

In [9]:
# Save dataset in Datasets directory
df_with_outliers.to_csv("../Datasets/example_retail_sales_with_outliers.csv")